@charset "UTF-8";
body,ul,li{
	margin:0; padding:0; list-style-type:none;
	font-family: 'Jua', sans-serif;

}

.container{
	width:1000px; margin:0 auto;
	overflow:auto;
	padding:50px;
}

.bottom{
	height:50px; text-align:center;
	color:white; background-color:gray;
}

.topMenu{
	height:60px;
}

.topMenu >li{
	text-align: center;
	color: snow;
	width: 100%;
	height:30px;
	font-size:1.2em;
}

.topMenu >li >a{
	font-size: 1em;
	color: #eb5252;
}