
/* 
top
 */
 
.top_menu_wrap{
	width: 100%; height: 40px;
	background-color: #f4f0ff;
}

.top_menu_wrap .content{
	width: 900px; height: 40px;
	margin: 0 auto;
	line-height: 40px;
}

.top_menu_wrap .content ul{
	overflow: hidden;
}

.top_menu_wrap .content ul li{
	float: right;
	padding: 0 10px;
}

/* 
section
 */
 
.section_menu_wrap{
	width: 100%;
}

.section_menu_wrap .content{
	width: 900px;
	margin: 50px auto;	
	text-align: center;
}

.section_menu_wrap .content .form_wrap{
	width:400px;
	border: 1px solid #9ab8fe;
	margin: 0 auto;	
	border-radius: 15px;
	padding: 20px;
}

.section_menu_wrap .content .form_wrap input[type="text"],
.section_menu_wrap .content .form_wrap input[type="password"]{
	width: 70%;
	padding: 10px;
	margin: 5px 0;
	font-size: 1.1em;
	font-weight: bolder;
}

.section_menu_wrap .content .form_wrap input[type="button"],
.section_menu_wrap .content .form_wrap input[type="reset"]{
	width: 100px;
	padding: 10px;
	margin: 5px 0;
	color: #fff;
	background-color: #86c7fb;
}


/* 
footer
 */

.footer_menu_wrap{
	width: 100%; height: 100px;
	background-color: #f4f0ff;
}

.footer_menu_wrap .content{
	width: 900px; height: 100px;
	margin: 50px auto;	
	text-align: center;
	line-height: 100px;
	font-size: 0.9em;
}